.features-list {
  display: flex;
  align-items: center;

  &__item {
    width: 270px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-background);
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  &__desc {
    line-height: 1.7;
  }
}
