.header {
  padding: 0;
  background-color: var(--text-secondary-color);
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 94px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  margin-right: 50px;
}

.header-link {
  display: flex;
  align-items: center;

  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 32px 0;

  position: relative;
  transition: color var(--trans-duration) var(--timing-function);
}

.mail-link,
.tel-link {
  color: var(--text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--brand-color);
  animation: headShake-test 750ms var(--timing-function);
}

.current {
  color: var(--brand-color);
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);

  position: absolute;
  bottom: 0;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}
